<body style="margin: 0;">
	
	<canvas id="canvas" style="width: 100%; height: 100%;"></canvas>



	<!-- Shaders for light emitting cubes. -->  
	
	<script type="vertex-shader" id = "vertexShaderLightCubes">

		precision mediump float;

		attribute vec3 attrib_position;

		uniform mat4 uniform_model;
		uniform mat4 uniform_view;
		uniform mat4 uniform_projection;

		void main()
		{
			gl_Position = uniform_projection * uniform_view * uniform_model * vec4(attrib_position, 1.0);
		}

	</script>

	<script type="fragment-shader" id = "fragmentShaderLightCubes">

		precision mediump float;

		uniform vec3 uniform_lightColor;

		void main()
		{
			gl_FragColor = vec4(uniform_lightColor, 1.0);
		}

	</script>
	


	<!-- Shaders for normal cubes. --> 

	<script type="vertex-shader" id = "vertexShaderNormalCubes">
		
		precision mediump float;

		attribute vec3 attrib_position;
		attribute vec3 attrib_normal;
		attribute vec3 attrib_color;

		uniform mat4 uniform_model;
		uniform mat4 uniform_view;
		uniform mat4 uniform_projection;

		varying vec3 fragment_position;
		varying vec3 fragment_normal;
		varying vec3 fragment_color;

		void main()
		{	
			fragment_position = vec3(uniform_model * vec4(attrib_position, 1.0));
			fragment_normal = (uniform_model * vec4(attrib_normal, 0.0)).xyz;
			fragment_color = attrib_color;

			gl_Position = uniform_projection * uniform_view * uniform_model * vec4(attrib_position, 1.0);
		}

	</script>

	<script type="fragment-shader" id = "fragmentShaderNormalCubes">
		
		precision mediump float;

		#define NR_POINT_LIGHTS 144 	// 145 maximum

		struct DirectionalLight {
		
			vec3 direction;
	
			vec3 ambient;
			vec3 diffuse;
			vec3 specular;
		};

		struct PointLight {

			vec3 position;

			vec3 ambient;
			vec3 diffuse;
			vec3 specular;

			float constant;
			float linear;
			float quadratic;
		};

		uniform vec3 uniform_viewPosition;
		
		uniform DirectionalLight uniform_directional_light;
		uniform PointLight uniform_point_lights[NR_POINT_LIGHTS];

		varying vec3 fragment_position;
		varying vec3 fragment_normal;
		varying vec3 fragment_color;

		vec3 DirectionalLightContribution(DirectionalLight directional_light, vec3 normal, vec3 view_direction);    
		vec3 PointLightContribution(PointLight point_light, vec3 normal, vec3 fragment_position, vec3 view_direction);

		void main()
		{
			vec3 normalized_fragment_normal = normalize(fragment_normal);
			vec3 normalized_view_direction = normalize(uniform_viewPosition - fragment_position);

			vec3 final_color = DirectionalLightContribution(uniform_directional_light, normalized_fragment_normal, normalized_view_direction);

			for(int i = 0; i < NR_POINT_LIGHTS; i++)
				 final_color += PointLightContribution(uniform_point_lights[i], normalized_fragment_normal, fragment_position, normalized_view_direction);
				
			gl_FragColor = vec4(final_color, 1.0);
		}

		vec3 DirectionalLightContribution(DirectionalLight directional_light, vec3 normal, vec3 view_direction)
		{
			vec3 normalized_light_direction = normalize(directional_light.direction);
			vec3 reflection_direction = reflect(normalized_light_direction, normal);


			float diffuse = max(dot(normal, normalized_light_direction), 0.0);	
			float specular = pow(max(dot(view_direction, reflection_direction), 0.0), 0.16);


			vec3 ambient_component = directional_light.ambient;
			vec3 diffuse_component = directional_light.diffuse * diffuse;
			vec3 specular_component = directional_light.specular  * specular;


			return (ambient_component + diffuse_component + specular_component) * fragment_color;
		}

		vec3 PointLightContribution(PointLight point_light, vec3 normal, vec3 fragment_position, vec3 view_direction)
		{
			vec3 normalized_light_direction = normalize(point_light.position - fragment_position);
			vec3 reflection_direction = reflect(normalized_light_direction, normal);


			float diffuse = max(dot(normal, normalized_light_direction), 0.0);
			float specular = pow(max(dot(view_direction, reflection_direction), 0.0), 0.16);
		

			vec3 ambient_component = point_light.ambient;
			vec3 diffuse_component = point_light.diffuse * diffuse ;
			vec3 specular_component = point_light.specular * specular;
		

			float distance = length(point_light.position - fragment_position);
			float attenuation = 1.0 
				/ (point_light.constant + point_light.linear * distance + point_light.quadratic * (distance * distance));

			ambient_component *= attenuation;
			diffuse_component *= attenuation;
			specular_component *= attenuation;


			return (ambient_component + diffuse_component + specular_component) *  fragment_color;
		}

	</script>


	
	<script src="libraries/MV.js"/></script>
	<script src="psyched-voxel-world.js"></script>

</body>